#productContainer {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}

.product-description {
  width: 25%;
  margin-top: 76px;
  margin-left: 31px;
}

.product-description h2, p {
  text-align: start;
}

.product-description p {
  font-weight: bold;
  font-size: 30px;
} 

.other-products select {
  @include btn-style-white;
}

.other-products select:hover {
  transition: all 0.5s ease-out;
  @include hover__btn-white;
}

.other-products select:focus {
  @include hover__btn-white;
}

