.content-page {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: nowrap;
}

.random-jokes {
  padding: 19px 0px 32px 1px;
  background-color: #d4d4d4;
  border-radius: 5px;
  width: 80%;
}

.product-price  {
  font-size: 30px;
  font-weight: bold;
}

.product-content {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
  width: 20%;
}

.product-content p,h1 {
  text-align: start;
}

.other-products-container li {
  display: inline;
}