.search-input {
  width: 40%;
  border: none;
  border-radius: 5px;
  margin-top: 35px;
  box-shadow: 2px 1px 2px rgba(0, 0, 0, 0.363);
  padding: 15px 100px 15px 15px;
}

.search-input:hover {
  background-color: #636363;
  color: #fff;
  transition: all 0.3s ease-out;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.664);
}

.search-input:focus {
  border: 0;
  background-color: #b6b6b6;
  color: #fff;
  transition: all 0.3s ease-out;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.664);
}

.search-input:focus::placeholder {
  color: #fff;
  transition: all 0.3s ease-out;
}

.search-input:hover::placeholder {
  color: #fff;
  transition: all 0.3s ease-out;
}